In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/ACER/kitapdata/Borsa.csv") 
df.head()

    YÄ±l  Ay  FaizOranÄ±  Ä°ÅŸsizlikOranÄ±  BorsaDeÄŸeri
0  2017  12       2.75            5.3         1464
1  2017  11       2.50            5.3         1394
2  2017  10       2.50            5.3         1357
3  2017   9       2.50            5.3         1293
4  2017   8       2.50            5.4         1256

In [3]:
df.Ay

0     12
1     11
2     10
3      9
4      8
5      7
6      6
7      5
8      4
9      3
10     2
11     1
12    12
13    11
14    10
15     9
16     8
17     7
18     6
19     5
20     4
21     3
22     2
23     1
Name: Ay, dtype: int64

In [4]:
df[["Ay"]].head()

   Ay
0  12
1  11
2  10
3   9
4   8

In [5]:
df2=pd.read_csv("C:/Users/ACER/kitapdata/4.csv", encoding="utf8")
df2.head()

                                               tweet
0  CORONA GÃœNLÃœÄžÃœ 29 NÄ°SANðŸ˜¥ðŸ˜¥ðŸ˜¥\n\nSon 24 saatte ha...
1  artik corona pili pirti toplayip gitmen lazim ...
2  @drdemokles Covid polde Ã§alÄ±ÅŸan birine gÃ¶re fa...
3  @itirafciyim GerÃ§ekten insan ne yapacaÄŸÄ±nÄ± bil...
4  @esrarengizessra Bu saatte bi bayanla yaptÄ±ÄŸÄ±m...

In [6]:
df3=pd.read_json("C:/Users/ACER/kitapdata/5.json", encoding="utf8")
df3.head()

                                                  tweet
0     @brscinar @SCavun Covid tahlilleri 3-4 gun sur...
1     @MovieGrafMG Corona sebebiyle tÃ¼m Ã§alÄ±ÅŸmalar e...
10    virus olana diyorum ismimi neden korona yaptim...
100   âœ¨AynÄ± sofradan yemek yedik, karnÄ± doyan dÃ¼ÅŸman...
1000  Ä°stesen bile korona olamÄ±yosun o kadar Ã¶nlem a...

In [7]:
df4=pd.read_excel("C:/Users/ACER/kitapdata/data.xlsx", "Sayfa3")
df4.head()

  Bitki  1yÄ±l  2yÄ±l  3yÄ±l
0     A  1.53  4.08  6.69
1     A  1.83  3.84  5.97
2     A  1.38  3.96  6.33
3     B  3.60  5.70  8.55
4     B  2.94  5.07  7.95

In [9]:
df4[["1yÄ±l"]].head()

   1yÄ±l
0  1.53
1  1.83
2  1.38
3  3.60
4  2.94